<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>
    <% movies.forEach((movie) => { %>
        <div class="post">
            <h1>Ім'я: <%= movie.name %></h1>ячс
        </div>
    <%})%>
</body>
</html>